.vod {
    margin: 10px;
    height: 10% !important;
    width: 260px !important;
}

.vod-img {
    width: 260px !important;
}

.no-video {
    margin: 10px;
    font-family: Concert One;
    font-size: 20px;
}